<div class="box">
    <div class="footerBtn">
        <button mat-raised-button color="primary" routerLink="/registrarElemento">Agregar Elemento</button>
    </div>
    <div class="layout">
        <mat-card class="example-card" *ngFor="let elemento of elementos" >
            <mat-card-header>
            <div mat-card-avatar>
                <mat-icon *ngIf="elemento.categoria?.nombre=='Ropa'" aria-label="Example home icon" fontIcon="checkroom"></mat-icon>
                <mat-icon *ngIf="elemento.categoria?.nombre=='Tecnologia'" aria-label="Example home icon" fontIcon="phone_iphone"></mat-icon>
                <mat-icon *ngIf="elemento.categoria?.nombre=='Deportes'" aria-label="Example home icon" fontIcon="checkroom"></mat-icon>
            </div>
            <mat-card-title>{{elemento.nombre}}</mat-card-title>
            <mat-card-subtitle>Usuario:{{elemento.usuario!.nombreCompleto}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src={{elemento.enlaceImagen}} alt="Photo of a Shiba Inu" width="10px">
            <mat-card-content>
            <p>
                {{elemento.descripcion}}
            </p>
            <mat-card-subtitle>Elementos Deseados:</mat-card-subtitle>
            <ul>
                <li *ngFor="let elementoDeseado of elemento.elementosDeseados">{{elementoDeseado.nombre}}</li>
            </ul>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button (click)="menuCard=true; showId=elemento.id">
                    <mat-icon>delete_forever</mat-icon>
                </button>
                <mat-card *ngIf="menuCard==true&& showId==elemento.id" class="menu-card">
                    <mat-card-title>¿Está seguro que desea de eliminar el objeto?</mat-card-title>
                    <mat-card-actions>
                        <button mat-stroked-button (click)="eliminarElemento(elemento.id)" color="secondary">Eliminar</button>
                        <button mat-stroked-button (click)="menuCard=false"color="secondary">Cancelar</button>
                    </mat-card-actions>
                </mat-card>
            </mat-card-actions>
        </mat-card>
    </div>

</div>