.form-container{
    display: flex;
    margin-top: 20%;
    margin-left: 35%;
    align-items: center;
    flex-direction: row;  
}
.form-column{
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.loginbtn{
    display: flex;
    justify-content: center;
}