<table mat-table [dataSource]="trueques" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let trueque"> {{trueque.id}} </td>
    </ng-container>

    <ng-container matColumnDef="elementoSolicitado">
        <th mat-header-cell *matHeaderCellDef> Elemento solicitado</th>
        <td mat-cell *matCellDef="let trueque"> {{trueque.elementoTrueque.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="ofrecido">
        <th mat-header-cell *matHeaderCellDef> Elemento ofrecido </th>
        <td mat-cell *matCellDef="let trueque"> {{trueque.elementoDeseado.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="solicitante">
        <th mat-header-cell *matHeaderCellDef> Solicitante </th>
        <td mat-cell *matCellDef="let trueque"> {{trueque.solicitante.nombreCompleto}} </td>
    </ng-container>
    <ng-container matColumnDef="solicitado">
        <th mat-header-cell *matHeaderCellDef> Solicitado </th>
        <td mat-cell *matCellDef="let trueque"> {{trueque.elementoTrueque.usuario.nombreCompleto}} </td>
    </ng-container>
    <ng-container matColumnDef="ciudadDestino">
        <th mat-header-cell *matHeaderCellDef> Ciudad Destino </th>
        <td mat-cell *matCellDef="let trueque"> {{trueque.solicitante.ciudad}} </td>
    </ng-container>
    <ng-container matColumnDef="ciudadOrigen">
        <th mat-header-cell *matHeaderCellDef> Ciudad Origen </th>
        <td mat-cell *matCellDef="let trueque"> {{trueque.elementoTrueque.usuario.ciudad}} </td>
    </ng-container>
    <ng-container matColumnDef="precioLogistica">
        <th mat-header-cell *matHeaderCellDef> Precio Logistica </th>
        <td mat-cell *matCellDef="let trueque"> {{trueque.precioLogistica}} COP </td>
    </ng-container>
    <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let trueque"> {{trueque.estado}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions</th>
        <td mat-cell *matCellDef="let trueque">
            <!-- SOLO SI SOLICITADO ES EL MISMO LOGGEADO -->
            <button *ngIf="trueque.estado=='INICIADO'&&trueque.elementoTrueque.usuario.id==loggedUser.id" 
            mat-stroked-button color="primary" (click)="aceptarTrueque(trueque.id)">
                Aceptar Trueque
            </button>
            <button *ngIf="trueque.estado=='INICIADO'&&trueque.elementoTrueque.usuario.id==loggedUser.id" 
            mat-stroked-button color="secondary" (click)="rechazarTrueque(trueque.id)">
                Rechazar Trueque
            </button>
            <!-- SOLO SI SOLICITANTE ES EL LOGGEADO Y TRUEQUE INICIADO -->
            <button *ngIf="trueque.estado=='INICIADO'&&trueque.solicitante.id==loggedUser.id" 
            mat-stroked-button color="secondary" (click)="cancelarTrueque(trueque.id)">
                Cancelar Trueque
            </button>
            <button *ngIf="trueque.estado=='ACEPTADO'&&trueque.solicitante.id==loggedUser.id" 
            mat-stroked-button color="primary" (click)="finalizarTrueque(trueque.id)">
                Finalizar Trueque
            </button>
            
        </td>
    </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  